body {
  background-color: #f4f4f4;
  font: normal 20px Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin: 0;
}

body h1 {
  font: 35x Tahoma;
  font-weight: lighter;
  padding-bottom: 22px;
  padding-top: 20px;
  text-align: center;
}

h3 {
  margin-top: 0;
  text-align: center;
}

img {
  width: 85%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.container {
  width: auto;
  margin: auto;
}
p {
  margin: auto;
  width: 85%;
}
.box-1 {
  background-color: rgb(78, 91, 110);
  color: #f4f4f4;
  margin-left: auto;
  margin-right: auto;
}
.box-1 h3 {
  font: Tahoma 800;
  text-transform: uppercase;
  padding-top: 48px;
}

.box-2 {
  background-color: #f4f4f4;
  color: rgb(87, 87, 87);
  margin-left: auto;
  margin-right: auto;
}
.box-2 h3 {
  text-transform: uppercase;
  padding-top: 48px;
}
